.container-fluid {
  margin-top: 120px;
}

.row {
  margin-top: 5%;
}

.preText {
  height: 150px;
  padding-top: 55px;
}

.center {
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
}

.box-shadow {
  box-shadow: 0px 0px 2px 2px #00000099;
}

.MT {
  margin-top: 2%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-rowed {
  display: flex;
  flex-direction: row;
}

.flex-rowed > a {
  margin: 1.5%;
}

.flex-row > div {
  margin: 2.5%;
}

.flex-item {
  border-radius: 4px;

  width: 145px;
  height: 145px;
}

.flex-item a {
  margin-top: 120px;
}

.mt {
  margin-top: 56px;
  text-align: center;
}

span {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .flex-row {
    display: flex;
    flex-direction: column;
  }
}
